html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background: #ddd2dd;
    background: linear-gradient(135deg, #817d7e 0%,#ddd2dd 48%,#7d7986 100%);
    background-size: cover;
    min-height: 100vh;
}

/* CSS loader */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader {
    height: 50px;
    transform-origin: bottom center;
    animation: rotate 3s linear infinite;
}

.circle {
    display: inline-block;
    background-color: blueviolet;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -10px;
}

.circle:nth-child(2) {
    background-color: palevioletred;
    animation-delay: 0.75s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1)
    }
}
/* Landing Page */
.main {
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}
.landing-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.landing-title {
    display: inline-block;
    font-family: 'billabongregular';
    font-size: 48px;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    border-bottom:1px solid rgba(66, 129, 126, 0.384);
}

.landing-title span {
    transition: all 0.3s;
    z-index: 2;
}
.landing-title span:nth-last-child(1):hover {
    font-size: 78px;
    transform: skew(-15deg);
    color: rgb(214, 172, 58);
    -webkit-text-stroke: 3px rgba(255,255,255,0.04);
}
.landing-title span:hover {
    font-size: 58px;
    transform: skew(15deg);
    color: rgb(58, 183, 214);
    -webkit-text-stroke: 1px black;
}
.landing-p {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    width: 80%;
    text-align: center;
}
.landing-btn{
    padding: 12px;
    margin-top: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(58, 183, 214);
    color: #333333;
}
.landing-btn:hover{
    opacity: 0.9
}
/* Home Page */
#logo{
    display: flex;
    justify-content: flex-end;
}
#logo h1 {
    margin-top: 15px;
    font-family: 'billabongregular';
    font-size: 65px;
    color: rgb(58, 183, 214);
    -webkit-text-stroke: 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    width: 100px;
    height: 100px;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s;
    transform: translateX(-30%) scale(0.95);
    background-color: rgb(38, 38, 44);
    border-top:3px solid rgb(42, 42, 224);
    width: 300px;
    overflow: auto;
    z-index: 99;
}
.close-nav{
    position: absolute;
    top: 0;
    right: 0;
    color: azure;
    background-color: rgb(38, 38, 44);
    border: none;
}
.nav-links li a{
    display: inline-block;
    color: azure;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.04);
}
.nav.active{
    opacity: 1;
    transform: translateX(0) scale(1);
}
.typewrite > .wrap { 
    border-right: 2px solid rgb(63, 62, 62)
}
.typewrite{
    font-size: 32px;
    background: -webkit-linear-gradient(rgb(230, 171, 61), rgb(240, 142, 15));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.typewrite:hover{
      background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.d-block{
    max-height: 500px;
}

.menu-logo{
    width: 80%;
}
.slide-one{
    float: left;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    width: 50%;
}
.slide-two{
    float: right;
    margin: 10px;
    margin-right: 30px;
    padding: 10px;
    width: 50%;
}
.slide-three{
    float: left;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    width: 50%;
}
.slide-one.slider{
    transform: translateX(-30%) scale(0.95);
}
.slide-two.slider{
    transform: translateX(30%) scale(0.95);
}
.slide-three.slider{
    transform: translateX(-30%) scale(0.95);
}
.slide-img-two{
    width: 300px;
    border-radius: 5px;
}
.slider{
    opacity: 0;
    transition: all .5s
}
.slider.active{
    opacity: 1;
    transform: translateX(0%) scale(1);
}
footer{
    position: relative;
}
.footer-text{
    color: azure;
    position: absolute;
    bottom: 38px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/* Custom Billabong font */
@font-face {
    font-family: 'billabongregular';
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;

}